.caja1{
    height: 200px;
    background-color: antiquewhite;
    margin-top: 20px;
}
.caja2{
    height: 200px;
    background-color: aquamarine;
    margin-top: 20px;
}
.caja3{
    height: 200px;
    background-color: blue;
    margin-top: 20px;
}